services:
  hermes:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hermes
    restart: unless-stopped
    volumes:
      - ./.env:/app/.env
    networks:
      - db-network
      - web

networks:
  db-network:
    external: true
  web:
    external: true